@import "colors";

html,
body,
#app,
#app > .container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  width: auto;
  max-width: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 100;
}

#app-header {
  background: #000;
  color: #fff;
  height: 8%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  h1,
  h2 {
    line-height: 1;
    font-size: 0.8em;
    margin: 0;
    text-transform: uppercase;
  }
  .divider {
    margin-left: auto;
  }
  .button {
    border: 0;
    color: #fff;
    margin-left: 2rem;
  }
}

.canvas-container {
  height: 92%;
  .canvas-item .canvas-header {
    span {
      color: #333;
    }
  }
  .canvas-list .canvas-list-number {
    color: #333;
  }
}

// Screen

@media screen {
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    margin: 0;
    height: auto;
    line-height: 1.6;
    font-weight: 300;
    padding: 0;
  }
  #app-header {
    padding: 0 2rem;
    h1 {
      margin-right: 2rem;
    }
  }
}

// Print

@media print {
  @page {
    margin: 0;
  }
  #app-header {
    background: transparent;
    color: #000;
    padding: 0 0.25cm;
    border-bottom: 1px solid @borderColor;
    height: 5%;
    h1 {
      margin-right: 0.25cm;
    }
  }
  .canvas-container {
    height: 95%;
  }
  .print {
    display: none;
  }
}
